---
layout: default
permalink: licenses/
class: license-types
title: 开源协议
---

<p>软件的开源协议授予所有用户使用，修改以及共享的权限，并明确表示了哪些行为是准许的，哪些行为是禁止的。 <a href="/">主页</a> 上面推荐的几种常用协议(GNU GPLv3, Apache License 2.0, 和 MIT License) 均属于开源协议。</p>
<p style="font-size:small; margin-bottom: 40px">如果你想要查看所有协议的允许和禁止的内容，请查看 <a href="/appendix">附录</a>.</p>

{% include license-overview.html license-id="agpl-3.0" %}
{% include license-overview.html license-id="gpl-3.0" %}
{% include license-overview.html license-id="lgpl-3.0" %}
{% include license-overview.html license-id="mpl-2.0" %}
{% include license-overview.html license-id="apache-2.0" %}
{% include license-overview.html license-id="mit" %}
{% include license-overview.html license-id="unlicense" %}

以上协议按照条款的严格程度排序，从严格到宽松。你可以从中为你的项目选择一个合适的协议。如果你想了解更多，请查看 <a href="/about/">关于页面</a>。
