<div class="sidebar">

  <a href="#" data-clipboard-target="#license-text" data-proofer-ignore="true" class="js-clipboard-button button">复制 协议内容 到剪切板</a>
    
  <div class="how-to-apply">
    <h3>如何添加这个协议</h3>
    <p>
      {{ page.how | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
    {% if page.note %}
    <p class="note">
      <strong>提示: </strong> {{ page.note | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
    {% endif %}
    {% assign xgpl = false %}
    {% if page.spdx-id contains 'GPL' %}{% assign xgpl = true %}{% endif %}
    <p class="note"><strong>可选: </strong> 添加 <strong><code>{{ page.spdx-id }}</code>{% if xgpl %}+{% endif %}</strong>{% if xgpl %} (或 <strong><code>{{ page.spdx-id }}</code></strong> 以禁止新版本内容){% endif %} 到你的软件描述信息中，(例如, <a href="https://docs.npmjs.com/files/package.json#license">Node.js</a>, <a href="http://guides.rubygems.org/specification-reference/#license=">Ruby</a>, 和 <a href="http://doc.crates.io/manifest.html#package-metadata">Rust</a>)。 这可以让别人明确了解该软件是遵循哪种协议发布的。</p>
  </div>

  {% if page.source %}
  <div class="source">
    <a href="{{ page.source }}">
      <span class="license-sprite"></span>
      Source
    </a>
  </div>
  {% endif %}

  {% if page.using %}
  <div class="projects-with-license">
    <h3>哪些项目正在使用本协议?</h3>
    <ul>
      {% for using in page.using %}
        {% for hash in using %}
          <li><a href="{{ hash[1] }}" target="_blank">{{ hash[0] }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div> <!-- /sidebar -->
